<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!--<h1 th:text="${title}">Default Title</h1>-->

<nav th:replace="fragments :: navigation"></nav>


<!--<select name="categoryId">-->
<!--    <option th:each="category : ${categories}"-->
<!--            th:text="${category.name}"-->
<!--            th:value="${category.id}"></option>-->
<!--</select>-->

<ul th:each="category : ${categories}">

    <li><a th:href="@{/cheese/category(id=${category.id})}" th:text="${category.name}"></a></li>

</ul>

</body>
</html>